.cngPromo{
    position: relative;
    height: 439px;
    margin-bottom: 50px;
    @media screen and (max-width: $tablet){
        margin-bottom: 90px;
    }
    @media screen and (max-width: $mobile){
        margin-bottom: 10px;
        height: auto;
    }
    .windmillSection{
        float: left;
        width: 432px;
        
        .windmill{
            width: 150px;
            height: 200px;
            bottom: 0;
            position: absolute;
            left: 0;
            right: 0;
        }
        .windmillinner{
            width: 100px;
            height: 200px;
            background: $themeGreen;
            position: absolute;
            margin-left: 75px;
            bottom:40px;
        }
        .windmillinner:before{
            content: "";
            width: 50px;
            height: 70px;
            background: #222;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            position: absolute;
            margin-left: 25px;
            z-index: 9;
            bottom:0;
        }
        .windmill:before{
            content: "";
            width: 300px;
            height: 50px;
            background: $themeGreen;
            position: absolute;
            margin-top: -50px;
            margin-left: -25px;
        }
        .windmill:after{
            content: "";
            width: 130px;
            height: 65px;
            background: $themeGreen;
            position: absolute;
            margin-top: -75px;
            margin-left: 60px;
        }
        .chevron {
            position: absolute;
            text-align: center;
            padding: 12px;
            margin-bottom: 6px;
            height: 60px;
            width: 200px;
        }

        .chevron:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 65px;
            width: 90px;
            background: $themeGreen;
            margin-left: -25px;
            margin-top: -70px;
            -webkit-transform: skew(0deg, -7deg);
            -moz-transform: skew(0deg, -7deg);
            -ms-transform: skew(0deg, -7deg);
            -o-transform: skew(0deg, -7deg);
            transform: skew(0deg, -7deg);
        
        }
        .chevron:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 65px;
            width: 90px;
            background: $themeGreen;
            margin-left: 190px;
            margin-top: -70px;
            -webkit-transform: skew(0deg, 7deg);
            -moz-transform: skew(0deg, 7deg);
            -ms-transform: skew(0deg, 7deg);
            -o-transform: skew(0deg, 7deg);
            transform: skew(0deg, 7deg);
        
        }
        .fan{
            width: 25px;
            height: 25px;
            border-radius: 20px;
            background: #fff;
            display: block;
            position: absolute;
            margin-top: -55px;
            margin-left: 115px;
            z-index: 10;
        }
        .fan:after{
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            background: #555;
            border-radius: 10px;
            margin-left: 5px;
            margin-top: 5px;
            z-index: 11;
        }
        .slow{
            -webkit-animation: spinning-cogs 5s infinite linear;
            -moz-animation: spinning-cogs 5s infinite linear;
            -ms-animation: spinning-cogs 5s infinite linear;
            -o-animation: spinning-cogs 5s infinite linear;
            animation: spinning-cogs 5s infinite linear;
            transition:all ease 1s;
        }
        @-webkit-keyframes spinning-cogs {
            0% { -webkit-transform: rotate(0deg);}
            100% { -webkit-transform: rotate(360deg) }
        }

        @-moz-keyframes spinning-cogs {
            0% { -moz-transform: rotate(0deg) }
            100% { -moz-transform: rotate(360deg) }
        }

        @-o-keyframes spinning-cogs {
            0% { -o-transform: rotate(0deg) }
            100% { -o-transform: rotate(360deg) }
        }

        @keyframes spinning-cogs {
            0% { transform: rotate(0deg) }
            100% { transform: rotate(360deg) }
        }

        .line{
            width: 5px;
            height: 350px;
            background: #fff;
            position: absolute;
            margin-top: -163px;
            margin-left: 10px;
            transform:rotate(45deg);
            -webkit-transform:rotate(45deg);
            
        }
        .line:after{
            content: "";
            width: 5px;
            height: 119px;
            background: #fff;
            position: absolute;
            margin-top: -90px;
            margin-left: 48px;
            box-shadow: -95px 0px 0px #fff;
        }
        .line:before{
            content: "";
            width: 5px;
            height: 119px;
            background: #fff;
            position: absolute;
            margin-top: -5px;
            margin-left: 48px;
            box-shadow: -95px 0px 0px #fff;
        }
        .line li{
            width: 5px;
            height: 91px;
            background: #fff;
            position: relative;
            transform:rotate(90deg);
            -webkit-transform:rotate(90deg);
            margin-bottom: -72px;
            margin-top: -48px;
        }
        .line li:nth-child(8){
            margin-top: 103px;
        }
        .lines{
            width: 5px;
            height: 350px;
            background: #fff;
            position: absolute;
            margin-top: -163px;
            margin-left: 10px;
            transform:rotate(-45deg);
            -webkit-transform:rotate(-45deg);
            
        }
        .lines:after{
            content: "";
            width: 5px;
            height: 119px;
            background: #fff;
            position: absolute;
            margin-top: -90px;
            margin-left: 48px;
            box-shadow: -95px 0px 0px #fff;
        }
        .lines:before{
            content: "";
            width: 5px;
            height: 119px;
            background: #fff;
            position: absolute;
            margin-top: -5px;
            margin-left: 48px;
            box-shadow: -95px 0px 0px #fff;
        }
        .lines li{
            width: 5px;
            height: 91px;
            background: #fff;
            position: relative;
            transform:rotate(90deg);
            -webkit-transform:rotate(90deg);
            margin-bottom: -72px;
            margin-top: -48px;
        }
        .lines li:nth-child(8){
            margin-top: 103px;
        }
        
        @media screen and (max-width: $mobile){
            display: none;
        }
    }

    .bar{
        position: absolute;
        width: 100%;
        bottom:0;
        height: 40px;
        left: 0;
        background: $themeGreen;
        > div{
            float: left;
            
            color: #fff;
            text-align: center;
            &.name{
                width: 35%;
                background: $themeGreen;
                padding: 7px 15px;
                 @media screen and (max-width: $tablet){
                    @include clearFloat();
                 }
            }
            &.dateLoc{
                width: 35%;
                .date{
                    width: 60%;
                    padding: 7px 15px;
                    background: $themeOrange;
                    float: left;
                }
                .location{
                    width: 40%;
                    float: left;
                    background: $themeDarkOrange;
                    padding: 7px 15px;
                }
                @media screen and (max-width: $tablet){
                    @include clearFloat();
                }
            }
            
            &.countdown{
                width: 30%;
                padding: 7px 15px;
                background: $themeRed;
                @media screen and (max-width: $tablet){
                    @include clearFloat();
                }
            }
        }
        
        @media screen and (max-width: $tablet){
            height: 120px;
            bottom: -80px;
        }
        @media screen and (max-width: $mobile){
            height: 120px;
            position: relative;
            bottom: auto;
        }
    }
    
    
    .system{
        position: relative;
        padding-top: 150px;
        float: right;
        width: 200px;
        text-align: right;
        @media screen and (max-width: $mobile){
            display: none;
        }
        .mac{
            width: 200px;
            height: 150px;
            position: relative;
            margin: auto;
            .backscreen{
                background: #A58B8B;
                width: 200px;
                height: 150px;
                padding: 15px 0;
                border-radius: 7px;
                z-index: 999;
            }

            .screen{
                background: #111;
                width: 175px;
                height: 90px;
                margin: auto;
                color: #fff;
                text-align: left;
                padding: 5px;
                font-size: 13px;
                
                .rerun{
                    margin: 10px auto;
                    display:block;
                    padding: 5px 10px;
                    border-radius:0;
                    background: #e67e22;
                    border:0;
                    display:none;
                }
            }

            .bottom{
                width: 200px;
                height: 30px;
                background: #D8D8D8;
                position: absolute;
                bottom: 0;
                border-bottom-left-radius: 7px;
                border-bottom-right-radius: 7px;
                .button{
                    width: 10px;
                    height: 10px;
                    background: #000;
                    position: absolute;
                    border-radius: 10px;
                    bottom: 50%;
                    left: 50%;
                    margin-left: -5px;
                    margin-bottom: -5px;
                }
            }
            
            .stand{
                width: 40px;
                height: 100px;
                position: absolute;
                bottom: -100px;
                left: 50%;
                margin-left: -20px;
                background: $themeRed;
            }
        }
    }
    
    
    .india-roads{
        position:absolute;
        bottom: 0px;
        width: 100%;
        left:0;
        @media screen and (max-width: $mobile){
            display: none;
        }
        .street {
            height:40px;
            width:102%;
            position:absolute;
            bottom:0;
        }
        /*styles for car*/
        .car {
            position:absolute;
            bottom: 66px;
            right: 15%;
            z-index:10;
            transform: scaleX(-1);
            &.moveF{   
                -moz-animation:forward $carAnimeSpeed  linear;
                -webkit-animation:forward $carAnimeSpeed  linear;
            }
            &.moveB{   
                -moz-animation:backward $carAnimeSpeed  linear;
                -webkit-animation:backward $carAnimeSpeed  linear;
            }
            
            &.stopAtWindMill{
                right: 70%;
                @media screen and (max-width: $tablet){
                    right: 70%;
                }
            }
        }
        @-moz-keyframes forward 
        {
            0%   {right:15%;}
            100% {right:70%;}
        } 
        @-webkit-keyframes forward
        {
             0%   {right:15%;}
            100% {right:70%;}
        } 
        @-moz-keyframes backward 
        {
            0%   {right:70%;}
            100% {right:15%;}
        } 
        @-webkit-keyframes backward
        {
             0%   {right:70%;}
            100% {right:15%;}
        } 
        .tyre {
            width:30px;
            height:30px;
            border-radius:50%;
            background:#3f3f40;
            position:absolute;
            z-index:2;
            left:3px;
            top:20px;
            &.moveF{
                -moz-animation:tyre-rotate-f 1s infinite linear;
                -webkit-animation:tyre-rotate-f 1s infinite linear;
            }
             &.moveB{
                -moz-animation:tyre-rotate-b 1s infinite linear;
                -webkit-animation:tyre-rotate-b 1s infinite linear;
            }
        }
        @-moz-keyframes tyre-rotate-f {
            from{-moz-transform:rotate(-360deg);}
            to{-moz-transform:rotate(0deg);}
        }
        @-webkit-keyframes tyre-rotate-f {
            from{-webkit-transform:rotate(-360deg);}
            to{-webkit-transform:rotate(0deg);}
                
        }
         @-moz-keyframes tyre-rotate-b {
            from{-moz-transform:rotate(360deg);}
            to{-moz-transform:rotate(0deg);}
        }
        @-webkit-keyframes tyre-rotate-b {
            from{-webkit-transform:rotate(360deg);}
            to{-webkit-transform:rotate(0deg);}
                
        }
        .tyre:before {
            content:'';
            width:20px;
            height:20px;
            border-radius:50%;
            background:#bdc2bd;
            position:absolute;
            top:5px;
            left:5px;
        }
        .gap {
            background:#3f3f40;
            width:2px;
            height:4px;
            position:absolute;
            left:14px;
            top:8px;
            box-shadow:0 9px 0 #3f3f40;
        }
        .gap:before {
            content:'';
            display:block;
            width:2px;
            height:4px;
            position:absolute;
            background:#3f3f40;
            box-shadow:0 12px 0 #3f3f40;
            -webkit-transform:rotate(-90deg);
            -webkit-transform-origin:0 7px;
            -moz-transform:rotate(-90deg);
            -moz-transform-origin:0 7px;
            z-index:3;
        }
        .car-base {
            position:absolute;
            display:block;
            width: 125px;
            height: 30px;
            background:#000000;
            border-radius:  10% 10% 50% 50% / 60% 100% 20% 10%;
            -webkit-transform:rotate(-2deg);
            -moz-transform:rotate(-2deg);
            border:solid;
            border-color:#000000;
        }
        .back-bonet {
            background:  #4c4b4b;
            border-radius: 54% 25% 0 0;
            height: 22px;
            left: 11px;
            position: absolute;
            top: 8px;
            width: 40px;
        }
        .tyre.front {
            left:90px;
        }
        .car-body {
            /*width:125px;
            height:24px;
            background:#d1352b;
            border-top:1px solid #a82e27;*/
            border-bottom: 24px solid #d1352b;
            height: 0;
            top:10px;
            width: 120px;
            position:relative;
        }
        .car-body:before {
            content:'';
            display:inline-block;
            width:30px;
            height:24px;
            position:absolute;
            right:-5px;
            background:#d1352b;
            border-top-right-radius:4px;
            z-index:1;
        }
        .car-body:after {
            content:'';
            display:inline-block;
            width:121px;
            border-bottom: 1px solid #942b25;
            border-right: 2px solid transparent;
            height: 0;
            z-index:2;
            position:absolute;
        }
        .car-gate {
            width:32px;
            height:20px;
            background:#d1352b;
            border-radius:0 0 2px 8px / 0 0 2px 8px;
            box-shadow:0 0 0 1px #892924;
            position:absolute;
            left:48px;
            
        }
        .car-gate:before {
            content:'';
            width:8px;
            height:2px;
            background:#4c4b4b;
            position:absolute;
            top:2px;
            left:4px;
            box-shadow:1px 1px 1px rgba(0,0,0,0.1);
        }
        .car-top-back {
            background: none repeat scroll 0 0 #4C4B4B;
            border-radius: 5px 0 0 0;
            height: 20px;
            left: 4px;
            position: absolute;
            top: -20px;
            width: 58px;
        }
        .car-top-back:before {
            width:30px;
            height:15px;
            background:#736f6f;
            content:'';
            position:absolute;
            top:3px;
            left:8px;
            border-radius:2px;
        }
        .car-top-back:after {
            content:'';
            background:#4c4b4b;
            border-radius:  30%;
            height: 5px;
            left: 3px;
            position: absolute;
            top: -1px;
            width: 62px;
        }
        .car-top-front {
            top:-19px;
            position:absolute;
            left:47px;
            width:20px;
            height:20px;
            background:#dc4630;
            border-left: 1px solid #892924;
            border-radius: 2px 0 0 0;

        }
        .car-top-front:after {
            width:26px;
            height:20px;
            -webkit-transform:skew(37deg);
            -moz-transform:skew(37deg);
            background:#dc4630;
            content:'';
            position:absolute;
            top:0;
            left:6px;
            border-radius:4px 0 4px 4px;
        }
        .car-top-front:before {
            width:12px;
            height:5px;
            background:#dc4630;
            content:'';
            position:absolute;
            top:14px;
            left:28px;
            z-index:1;
            border:solid #a82e27;
            border-width:0 1px 1px 0;
        }
        .wind-sheild {
            top:3px;
            left:3px;
            position:absolute;
            z-index:3;
            width:18px;
            height:12px;
            background:#f5e7e7;
            border-radius:0 3px 0 0;
        }
        .wind-sheild:after {
            width:12px;
            height:12px;
            -webkit-transform:skew(25deg);
            -moz-transform:skew(25deg);
            background:#f5e7e7;
            content:'';
            position:absolute;
            top:0;
            left:10px;
            border-radius:3px;
        }
        .boundary-tyre-cover {
            position:absolute;
            top:14px; left:10px;
            border-bottom: 20px solid #4c4b4b;
            border-right: 10px solid transparent;
            height:0;
            width:20px;
        }
        .boundary-tyre-cover:before {
            content:'';
            position:absolute;
            display:inline-block;
            background:#4c4b4b;
            height:20px;
            width:15px;
            -webkit-transform:skewX(-20deg);
            -moz-transform:skewX(-20deg);
            border-radius:3px;
            left:-6px;
            top:0;
        }
        .boundary-tyre-cover:after {
            content:'';
            position:absolute;
            display:inline-block;
            background:#4c4b4b;
            height:20px;
            width:20px;
            -webkit-transform:skewx(40deg);
            -moz-transform:skewX(40deg);
            border-radius:3px;
            right:-14px;
            top:0;
        }
        .boundary-tyre-cover-inner {
            position:absolute;
            top:4px; left:4px;
            border-bottom: 16px solid black;
            border-right: 10px solid transparent;
            height:0;
            width:15px;
            z-index:2;
        }
        .boundary-tyre-cover-inner:before {
            content:'';
            position:absolute;
            display:inline-block;
            background:black;
            height:16px;
            width:15px;
            -webkit-transform:skewX(-20deg);
            -moz-transform:skewX(-20deg);
            border-radius:3px 3px 0 0;
            left:-6px;
            top:0;
        }
        .boundary-tyre-cover-inner:after {
            content:'';
            position:absolute;
            display:inline-block;
            background:black;
            height:16px;
            width:20px;
            -webkit-transform:skewx(40deg);
            -moz-transform:skewX(40deg);
            border-radius:3px 3px 0 0;
            right:-11px;
            top:0;
        }
        .boundary-tyre-cover-back-bottom {
            position: absolute;
            width: 14px;
            height: 8px;
            background: #4c4b4b;
            top: 12px;
            left: -19px;
        }
        .bonet-front {
            background: #d1352b;
            border-radius: 5px 258px 0 38px / 36px 50px 0 0;
            height: 4px;
            position: absolute;
            right: 0;
            top: -4px;
            width: 40px;
            z-index: 0;
        }
        .back-curve {
            background: none repeat scroll 0 0 #4C4B4B;
            border-radius: 960% 100% 0 0;
            height: 20px;
            left: -3px;
            position: absolute;
            top: 1px;
            transform: rotate(6deg);
            width: 5px;
        }
        .stepney {
            height: 6px;
            left: -4px;
            position: absolute;
            top: 6px;
            width: 8px;
            z-index: -1;
            background:#3f3f40;
        }
        .stepney:before {
            width:8px;
            height:12px;
            background:#3f3f40;
            content:'';
            position:absolute;
            top:-10px;
            left:-7px;
            border-radius:3px 3px 0 0;
        }
        .stepney:after {
            width:8px;
            height:12px;
            background:#0d0c0d;
            content:'';
            position:absolute;
            top:0px;
            left:-7px;
            border-radius:0 0 3px 3px;
        }
        .tyre-cover-front {
            background:#4c4b4b;
            height: 4px;
            left: 97px;
            position: absolute;
            top: 13px;
            width: 22px;
            z-index: 1;
        }
        .tyre-cover-front:before {
            background: none repeat scroll 0 0 #4c4b4b;
            content: "";
            display: inline-block;
            height: 21px;
            left: -10px;
            position: absolute;
            top: 0;
            transform: skewX(-30deg);
            width: 10px;
            z-index: 6;
            border-radius:4px 0 0 0;
        }
        .tyre-cover-front:after {
            background: none repeat scroll 0 0 #4c4b4b;
            content: "";
            display: inline-block;
            height: 6px;
            left: 14px;
            position: absolute;
            top: 0;
            transform: skewX(30deg);
            width: 17px;
            z-index: 6;
            border-radius:0 4px 2px 0;
        }
        .boundary-tyre-cover-inner-front {
            position:absolute;
            top:4px; left:4px;
            border-bottom: 16px solid black;
            border-right: 10px solid transparent;
            height:0;
            width:15px;
            z-index:7;
        }
        .boundary-tyre-cover-inner-front:before {
            background: none repeat scroll 0 0 #000000;
            border-radius: 3px 3px 0 0;
            content: "";
            display: inline-block;
            height: 17px;
            left: -10px;
            position: absolute;
            top: 0;
            transform: skewX(-30deg);
            width: 15px;
        }
        .boundary-tyre-cover-inner-front:after {
            content:'';
            position:absolute;
            display:inline-block;
            background:black;
            height:16px;
            width:20px;
            -webkit-transform:skewx(25deg);
            -moz-transform:skewX(25deg);
            border-radius:3px 3px 0 0;
            right:-12px;
            top:0;
        }
        .base-axcel {
            background: none repeat scroll 0 0 black;
            bottom: -15px;
            height: 10px;
            left: 30px;
            position: absolute;
            transform: rotate(-2deg);
            width: 70px;
            z-index:-1;
        }
        .base-axcel:before {
            background: none repeat scroll 0 0 black;
            border-radius: 0 0 0 10px / 0 0 0 5px;
            content: "";
            height: 10px;
            left: -35px;
            position: absolute;
            top: -2px;
            transform: rotate(6deg);
            width: 30px;	
        }
        .base-axcel:after {
            background: none repeat scroll 0 0 black;
            border-radius: 0 0 0 10px / 0 0 0 5px;
            content: "";
            height: 10px;
            right: -33px;
            position: absolute;
            top: -1px;
            transform: rotate(-4deg);
            width: 40px;
            border-radius:0 10px 5px 0;	
        }
        .front-bumper {
            background: none repeat scroll 0 0 #4c4b4b;
            border-radius: 0 2px 2px 0;
            height: 8px;
            position: absolute;
            right: -15px;
            width: 11px;
            z-index: 1;
            -moz-transform:rotate(-5deg);
            -webkit-transform:rotate(-5deg);
        }
        .front-bumper:before {
            background: none repeat scroll 0 0 #000000;
            content: "";
            height: 10px;
            left: -7px;
            position: absolute;
            transform: rotate(-22deg);
            width: 9px;
            z-index: 1;
        }
        .car-shadow {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
            bottom: -15px;
            box-shadow: -5px 10px 15px 3px #000000;
            left: -7px;
            position: absolute;
            width: 136px;
        }
    }
}